rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /registry/{document=**} {
      // allow list: if debug(resource.data.public == true)
    	allow read: if 
                     debug(request.auth.token.admin == true
                     ||
                     "public" in resource.data && resource.data.public == true
                     ||
                     (request.auth != null
                     && "privileges" in request.auth.token
                     && debug(resource.data.group in request.auth.token.privileges.keys())
                     //  && request.auth.token.privileges.get(resource.data.group, null) in ["admin", "editor", "guest"]
                     ))
      allow create: if debug(request.auth != null &&
                            (request.auth.token != null && request.auth.token.admin == true
                            ||     
                            ("privileges" in request.auth.token
                            && request.auth.token.privileges[request.resource.data.group] in ["admin", "editor"])))
    	allow update, delete: if debug(request.auth != null &&
                                    (request.auth.token.admin == true
                                    ||     
                                    ("privileges" in request.auth.token
                                    && request.auth.token.privileges[resource.data.group] in ["admin", "editor"])))
    }



    match /groups/{document=**} {
      // allow list: if debug(resource.data.public == true)
    	allow create, read, update, delete: if request.auth.token.admin == true
    }
  }
}
